---
---
<nav class="navbar w-100 py-4 position-absolute top-0 start-0 z-3">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand text-dark fs-2 m-0" style="letter-spacing: 2px; font-family: 'Cormorant Garamond', serif;" href="#">
      COEXPACE
    </a>
  </div>
</nav>

<style lang="scss">
  @import '../styles/variables.scss';
  .navbar {
    background: transparent;
    z-index: 100;
  }
</style>
