---
---
<nav style="position:absolute;top:0;left:0;width:100%;z-index:100;padding:1.75rem 0;text-align:center;background:transparent;">
  <a href="#" style="font-family:'Cormorant Garamond',serif;font-size:1.8rem;letter-spacing:3px;color:#57534e;text-decoration:none;">COEXPACE</a>
</nav>

<style lang="scss">
  @import '../styles/variables.scss';
  .navbar {
    background: transparent;
    z-index: 100;
  }
</style>
